@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

<div id="gridLoginModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body pt-1">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md">
                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" id="LoginPassword" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="form-group d-flex justify-content-between align-items-center">
                                    <div class="d-flex justify-content-start align-items-center">
                                        <a asp-controller="account" asp-action="ExternalLogin" asp-route-returnurl="@Context.Request.Path@Context.Request.QueryString" asp-route-provider="VKontakte" > <img src="~/images/VK.png" width="40px" /> </a>
                                        <a asp-controller="account" asp-action="ExternalLogin" asp-route-returnurl="@Context.Request.Path@Context.Request.QueryString" asp-route-provider="Facebook" > <img src="~/images/facebook.png" class="ml-1" width="40px" /></a>
                                        <a asp-controller="account" asp-action="ExternalLogin" asp-route-returnurl="@Context.Request.Path@Context.Request.QueryString" asp-route-provider="Twitter"> <img src="~/images/Twitter.png" class="ml-1" width="40px" /></a>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <p>
                                        <a href="#" class="ForgotPassword" data-toggle="modal" data-target="#gridForgotPasswordModel" onclick="$('#gridLoginModal').modal('hide')">Forgot your password?</a>
                                    </p>
                                    <p>
                                        <a href="#" class="Register" data-toggle="modal" data-target="#gridRegisterModal" onclick="$('#gridLoginModal').modal('hide')">Register as a new user?</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-around">
                    <button type="submit" class="btn btn-primary">Log in</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>


