@{
    ViewData["Title"] = "Home Page";
}

<div class="content row justify-content-sm-around align-items-md-start p-4 tagLink noDecorations">
    @for (int i = 0; i < 5; i++)
    {
        <a href="#" class="w-100 noDecorations fanficStart mb-3">
            <div class="FicDisc d-flex justify-content-start align-items-start flex-row border w-100 p-2 mh-25">
                <div class="ficImg pr-4">
                    <img src="https://vignette.wikia.nocookie.net/harrypotter/images/8/8d/PromoHP7_Harry_Potter.jpg/revision/latest?cb=20140603201724" class="w-100" />
                </div>
                <div class="FicInfo align-self-start w-75 mh-100 ">
                    <p class="m-0">Name: My name is Jack</p>
                    <p class="m-0">Janres: Horror, Comedy</p>
                    <p class="m-0">Author: Jack</p>
                    <p class="m-0 text-wrap">
                        Discription: once alsdkf;kdmcmskm dkmcskldmk slmclskd;al skdmroma;lkdm fk sa;kd mf;amdock mi asmd;aksm d;,ma;lkdmc ;a dfffff fffffff fffffff fffffffffffffff fffffffff
                        a;lkdm;aslkdm;alsdkma;sldkfa;sdlkf;asdkjfa;ldkjf;alkdjf;aldkfj;akdfj
                    </p>
                </div>
            </div>
        </a>
    }
</div>


