@using Microsoft.AspNetCore.Identity
@using Fanfic.Models


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
<ul class="menuList align-items-center">
    <li><a asp-area="" asp-controller="User" asp-action="Index" class="loginAnchor">Hello @UserManager.GetUserName(User)!</a></li>
    <li>
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
            <button class="btn btn-link" type="submit">LOG OUT</button>
        </form>
    </li>
    <li><input type="image" src="~/images/Eng.png" width="25px" /></li>
    <li><input type="image" src="~/images/Moon.png" width="25px" /></li>
</ul>
}
else
{
<ul class="menuList">
    @await Component.InvokeAsync("Login")
    @await Component.InvokeAsync("Registration")
    @await Component.InvokeAsync("ForgotPassword")
    <li><a href="#" class=" loginAnchor" data-toggle="modal" data-target="#gridRegisterModal">REGISTER</a></li>
    <li><a href="#" class="loginAnchor" data-toggle="modal" data-target="#gridLoginModal">LOG IN</a></li>
    <li><input type="image" src="~/images/Eng.png" width="25px" /></li>
    <li><input type="image" src="~/images/Moon.png" width="25px" /></li>
</ul>
}
