@model ChapterTextViewModel
@addTagHelper "*, TagHelperSamples.Markdown"
@foreach (string text in Model.Text.Split(new string[] { "\n" }, StringSplitOptions.None))
{
    <p class="text-justify" markdown> @text </p>
}
