
<div id="gridMessageModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
    <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="alert alert-danger mb-0 d-flex justify-content-center p-2" role="alert" >
                    <span id="MessageSpan"> @TempData["Message"] </span>
                </div>
            </div>
        </div>
    </form>
</div>
