@model ForgotPasswordViewModel

<div id="gridForgotPasswordModel" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
    <form asp-controller="Account" asp-action="ForgotPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body pt-1">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" id="ForgotEmail" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="modal-footer d-flex justify-content-around">
                        <button type="submit" class="btn btn-primary">Sent</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


